.FAQPage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    width: 100vw;
    padding: 0;
    margin: 0;
    margin-top: 2rem;
    box-sizing: border-box;
    justify-content: start;
    flex-direction: column;
    min-height: 100vh;
}

.FAQPage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/Faq Background.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    z-index: 0;
}

.FAQPage h1
{
    margin-top: 10%;
    color: rgb(255, 255, 255);
    margin-bottom: 5%;
    z-index: 1;
}
.headerdiv
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accordiondiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    padding: 20px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    gap: 10px;
}
.accordion {
    width: 100%;
    
    
}

.accordion__item + .accordion__item {
    border-top: 3px solid rgb(141, 141, 141);
}

.accordion__button {
    font-family: 'Outfit', sans-serif;
    background-color: rgba(255, 255, 255, 0.9);
    border:none;
    color: rgb(77, 77, 77);
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    height: 5dvw;
    text-align: center;
    border: none;
    
}

.accordion__button:hover {
    background-color: #ddd;
    transition: 0.3s;
}

.accordion__button:before {
    display: inline-block;
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 12px;
    border-bottom: 2px solid currentColor;
    border-right: 2px solid currentColor;
    transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
    transform: rotate(45deg);
}

[hidden] {
    display: none;
}

.accordion__panel {
    padding: 20px;
    animation: fadein 0.35s ease-in;
    color: rgb(255, 255, 255);
    font-weight: 400;
    font-size: 25px;
    background: rgba(150, 149, 149, 0);
    backdrop-filter: blur(20px);
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

