.loginForm{
    background-color: white;
    border-radius: 4.5rem;
    width: 35rem;
    height: 25rem;
    z-index: 1;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 10px 20px  #0000009e);
    z-index: -1;
}
.formGroup{
    position: relative;
    top: -15%;
    font-family: "Outfit", sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;     
}
.userGroup{ 
    z-index: 1;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    color: black;
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}
.passGroup{
    z-index: 1;
    font-size: 1.2rem;
    font-family: "Outfit", sans-serif;
    color: black;
    width: 80%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.buttonDiv{
    width: 80%;
    display: flex;
    justify-content: center;
    z-index: 1;
}
.buttonGroup{
    z-index: 1;
    font-family: "Outfit", sans-serif;
    color: white;
    border-radius: 1rem;
    border: none;
    background-color: #E9271D;
    margin-top: 0.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease;
    z-index: 1;
}
.buttonGroup:hover{
    background-color: #b11a12;
    z-index: 1;
}
.userGroup input,
.passGroup input {
    color: black;
    background-color: white;
    border-radius: 1rem;
    border: 1px solid #ccc;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    height: 2.5rem;
}
.formImage{
    position: relative;
    top: -15%;
    scale: 0.9;
    
}
.signUp{
  margin-top: 0.5rem;
    color: #1E1E1E;
    text-decoration: underline;
}
.forgotPassword{
    margin-top: 0.1rem;
    color: #B3B3B3;
    text-decoration: underline;
}
.signUp:hover,.forgotPassword:hover{
    color: #E9271D;
}


@media (max-width: 600px) {
    .loginForm {
        width: 90%;
        height: auto;
        padding: 1rem;
    }
    .formGroup, .userGroup, .passGroup, .buttonDiv {
        width: 100%;
    }
    .buttonGroup {
        font-size: 1rem;
    }
    .formImage {
        top: -10%;
        scale: 0.8;
    }
}

